:host {
  display: grid;
  grid-template:
    "nav" min-content
    "body" 1fr / 1fr;
  min-height: 100vh;
}

app-nav {
  grid-area: nav;
}

mat-sidenav-content {
  grid-area: body;
  display: grid;
  grid-template-rows: 1fr min-content;
}
