:host {
  display: grid;
  grid-template:
    "nav" min-content
    "body" 1fr / 1fr;
}

app-nav {
  grid-area: nav;
}

mat-sidenav-container {
  grid-area: body;
  display: grid;
  grid-template:
    "main" 1fr "footer" min-content / 1fr;
}

section {
  grid-area: main;
  height: 91vh;

}

app-footer {
  grid-area: footer;
}
